
@{
    ViewData["Title"] = "Index";
}

<h2>Configure your house</h2>

<!--<div class="container">
    <div class="add"><a href="#">Add new Room</a></div>
    <div class="add"><a href="#">Add new Esp</span></div>
</div>-->

<div class="container">
    <div id="settings-list">
        <div class="settings-item" id="add-room-button">

            <i class="fas fa-plus-circle fa"> Add Room</i>

        </div>
    </div>
</div>