
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content" id="login">
    <div class="text-center">
        <div class="login-content">
            <img src="~/images/user.png" alt="logo">
            <hr>
            <div class="login-box">
                <form action="@Url.Action("Registration", "Login")" method="post">
                    <input type="text" name="username" required placeholder="E-mail address">
                    <br>
                    <input type="password" name="password" id="password" required placeholder="Password">
                    <br>
                    <input type="password" id="confirm_password" required placeholder="Confirm Password">
                    <br>
                    <input type="submit" value="Registration" id="login-button">
                </form>
            </div>
            <hr>
        </div>
    </div>
</div>
<script>
    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
